body {
    background-color: #fefbd8;
    /* background-color: white; */
    color: white;
    padding: 40px;
    font-family: Sans-Serif;
    text-align: center;
  }

  .flex-container {
    display: flex;    
    flex-wrap: wrap;
    width: 205px;
  }


  .header {      
      font-size: 50px;
      color: black;
      align-self: left;
  }

  .box2 {
    
  }  

  .box4 {
    flex-wrap: wrap;
  }    

  .box1 {
    width: 100px;
    height: 100px;    
    border: 1px solid grey;
    background-color: white;
  }

  .box2 {
    width: 100px;
    height: 100px;    
    border: 1px solid grey;
    background-color: white;
  }  

  .box3 {
    width: 100px;
    height: 100px;    
    border: 1px solid grey;
    background-color: white;    
  }  
  
  .box4{
    width: 100px;
    height: 100px;    
    border: 1px solid grey;
    background-color: white;
  }  


