.white{
    height: 100px;
    width: 100px;    
    background-color: white;
    border: 1px solid grey;
}

.black{
    height: 100px;
    width: 100px;
    background-color: black;
    border: 1px solid grey;
}